data/emswebservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://gim.nl/ws/gim" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s1="http://gim.nl/schemas/gim" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://gim.nl/ws/gim" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://gim.nl/ws/gim">
      <s:import namespace="http://gim.nl/schemas/gim" />
      <s:element name="geefResultatenOverzicht">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:geefResultatenOverzichtVraag" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="geefResultatenOverzichtResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:geefResultatenOverzichtAntwoord" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="geefResultaten">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:geefResultatenVraag" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="geefResultatenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:geefResultatenAntwoord" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ontvangstBevestiging">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:ontvangstBevestigingVraag" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ontvangstBevestigingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:ontvangstBevestigingAntwoord" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://gim.nl/schemas/gim">
      <s:element name="geefResultatenOverzichtVraag" type="s1:geefResultatenOverzichtGeefResultatenOverzichtVraag" />
      <s:complexType name="geefResultatenOverzichtGeefResultatenOverzichtVraag">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="procesInfo" type="s1:procesInfoType" />
          <s:element minOccurs="0" maxOccurs="1" name="identificatie" type="s1:identificatieType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="procesInfoType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="procesId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="procesStatus" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="functie" type="s1:functieType" />
          <s:element minOccurs="0" maxOccurs="1" name="procesOmschrijving" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dialoogLocatie" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="functieType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="productId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="contextId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="functieId" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="identificatieType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="gebruiker" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="wachtwoord" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="geefResultatenOverzichtAntwoord" type="s1:geefResultatenOverzichtResponseGeefResultatenOverzichtAntwoord" />
      <s:complexType name="geefResultatenOverzichtResponseGeefResultatenOverzichtAntwoord">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="procesInfo" type="s1:procesInfoType" />
          <s:element minOccurs="0" maxOccurs="1" name="resultatenOverzicht" type="s1:ArrayOfBerichtType" />
          <s:element minOccurs="0" maxOccurs="1" name="meldingen" type="s1:ArrayOfMeldingType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfBerichtType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="item" type="s1:berichtType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="berichtType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="procesInfo" type="s1:procesInfoType" />
          <s:element minOccurs="0" maxOccurs="1" name="inhoud" type="s1:inhoudType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="inhoudType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="gimData" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="bijlagen" type="s1:bijlagenType" />
          <s:element minOccurs="0" maxOccurs="1" name="meldingen" type="s1:ArrayOfMeldingType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="bijlagenType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="bestanden" type="s1:ArrayOfBestandType" />
          <s:element minOccurs="0" maxOccurs="1" name="verwijzingen" type="s1:ArrayOfVerwijzingType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfBestandType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="item" type="s1:bestandType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="bestandType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="soort" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="omschrijving" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="bestandType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="bestandData" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="compressieType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="bestandReferentie" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfVerwijzingType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="item" type="s1:verwijzingType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="verwijzingType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="soort" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="omschrijving" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="URL" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfMeldingType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="item" type="s1:meldingType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="meldingType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="soort" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="meldingCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="tekst" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="toelichting" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="XPath" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="geefResultatenVraag" type="s1:geefResultatenGeefResultatenVraag" />
      <s:complexType name="geefResultatenGeefResultatenVraag">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="procesInfo" type="s1:procesInfoType" />
          <s:element minOccurs="0" maxOccurs="1" name="identificatie" type="s1:identificatieType" />
          <s:element minOccurs="0" maxOccurs="1" name="resultatenOverzicht" type="s1:ArrayOfBerichtType" />
        </s:sequence>
      </s:complexType>
      <s:element name="geefResultatenAntwoord" type="s1:geefResultatenResponseGeefResultatenAntwoord" />
      <s:complexType name="geefResultatenResponseGeefResultatenAntwoord">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="procesInfo" type="s1:procesInfoType" />
          <s:element minOccurs="0" maxOccurs="1" name="resultatenOverzicht" type="s1:ArrayOfBerichtType" />
          <s:element minOccurs="0" maxOccurs="1" name="meldingen" type="s1:ArrayOfMeldingType" />
        </s:sequence>
      </s:complexType>
      <s:element name="ontvangstBevestigingVraag" type="s1:ontvangstBevestigingOntvangstBevestigingVraag" />
      <s:complexType name="ontvangstBevestigingOntvangstBevestigingVraag">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="procesInfo" type="s1:procesInfoType" />
          <s:element minOccurs="0" maxOccurs="1" name="identificatie" type="s1:identificatieType" />
          <s:element minOccurs="0" maxOccurs="1" name="resultatenOverzicht" type="s1:ArrayOfBerichtType" />
        </s:sequence>
      </s:complexType>
      <s:element name="ontvangstBevestigingAntwoord" type="s1:ontvangstBevestigingResponseOntvangstBevestigingAntwoord" />
      <s:complexType name="ontvangstBevestigingResponseOntvangstBevestigingAntwoord">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="procesInfo" type="s1:procesInfoType" />
          <s:element minOccurs="0" maxOccurs="1" name="meldingen" type="s1:ArrayOfMeldingType" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="geefResultatenOverzichtSoapIn">
    <wsdl:part name="parameters" element="tns:geefResultatenOverzicht" />
  </wsdl:message>
  <wsdl:message name="geefResultatenOverzichtSoapOut">
    <wsdl:part name="parameters" element="tns:geefResultatenOverzichtResponse" />
  </wsdl:message>
  <wsdl:message name="geefResultatenSoapIn">
    <wsdl:part name="parameters" element="tns:geefResultaten" />
  </wsdl:message>
  <wsdl:message name="geefResultatenSoapOut">
    <wsdl:part name="parameters" element="tns:geefResultatenResponse" />
  </wsdl:message>
  <wsdl:message name="ontvangstBevestigingSoapIn">
    <wsdl:part name="parameters" element="tns:ontvangstBevestiging" />
  </wsdl:message>
  <wsdl:message name="ontvangstBevestigingSoapOut">
    <wsdl:part name="parameters" element="tns:ontvangstBevestigingResponse" />
  </wsdl:message>
  <wsdl:portType name="GrsServiceBinding">
    <wsdl:operation name="geefResultatenOverzicht">
      <wsdl:input message="tns:geefResultatenOverzichtSoapIn" />
      <wsdl:output message="tns:geefResultatenOverzichtSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="geefResultaten">
      <wsdl:input message="tns:geefResultatenSoapIn" />
      <wsdl:output message="tns:geefResultatenSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ontvangstBevestiging">
      <wsdl:input message="tns:ontvangstBevestigingSoapIn" />
      <wsdl:output message="tns:ontvangstBevestigingSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GrsServiceBinding" type="tns:GrsServiceBinding">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="geefResultatenOverzicht">
      <soap:operation soapAction="http://gim.nl/ws/gim/geefResultatenOverzicht" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="geefResultaten">
      <soap:operation soapAction="http://gim.nl/ws/gim/geefResultaten" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ontvangstBevestiging">
      <soap:operation soapAction="http://gim.nl/ws/gim/ontvangstBevestiging" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GrsServiceBinding1" type="tns:GrsServiceBinding">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="geefResultatenOverzicht">
      <soap12:operation soapAction="http://gim.nl/ws/gim/geefResultatenOverzicht" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="geefResultaten">
      <soap12:operation soapAction="http://gim.nl/ws/gim/geefResultaten" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ontvangstBevestiging">
      <soap12:operation soapAction="http://gim.nl/ws/gim/ontvangstBevestiging" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmsWebService">
    <wsdl:port name="GrsServiceBinding" binding="tns:GrsServiceBinding">
      <soap:address location="https://ezinsure-at.colimbra.net/webservices/ems/emswebservice.asmx" />
    </wsdl:port>
    <wsdl:port name="GrsServiceBinding1" binding="tns:GrsServiceBinding1">
      <soap12:address location="https://ezinsure-at.colimbra.net/webservices/ems/emswebservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>